<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- General -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">

  <!-- Check for Javascript -->
  <script>
    var html = document.getElementsByTagName('html')[0];
    html.classList.remove('no-js');
    html.classList.add('js');
  </script>

  <!-- Title -->
  <title>Countdown</title>
  <meta name="description" content="A simple countdown page.">
  <meta name="keywords" content="Countdown, HTML, CSS, Javascript">

  <!-- Favicons -->
  <link rel="shortcut icon" type="image/x-icon"
    href="https://projects.timschneider.xyz/countdown/dist/images/favicons/favicon.ico">
  <meta name="theme-color" content="#29d398">
</head>

<body>
  <div id="__root">

    <main class="c-wrapper">
      <div id="countdown" class="c-countdown">
        <div class="block">
          <div class="digit" id="days"></div>
          <span>Days</span>
        </div>
        <div class="block">
          <div class="digit" id="hours"></div>
          <span>Hours</span>
        </div>
        <div class="block">
          <div class="digit" id="minutes"></div>
          <span>Minutes</span>
        </div>
        <div class="block">
          <div class="digit" id="seconds"></div>
          <span>Seconds</span>
        </div>
      </div>

      <div class="c-links">
        <a href="https://github.com/RanzigeButter/Countdown" target="_blank" rel="noreferrer noopener">Repository</a>
        <a href="https://timschneider.xyz" target="_blank" rel="noreferrer noopener">Main Page</a>
      </div>
    </main>

  </div>

  <script type="text/javascript" src="https://cornify.com/js/cornify.js"></script>
</body>

</html>
