/*  ========================================================================
    # Components - Wrapper
    ========================================================================  */

.c-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: calc-rem(40px) calc-rem(20px);
}
