/*  ========================================================================
    # Globals - Generic
    ========================================================================  */

body {
  font-family: $font-family;
  font-size: $font-size__text;
  font-weight: 400;
  color: $color__white;
  background-color: $color__black;
}

::selection {
  background-color: $color__accent;
  color: $color__black;
  text-shadow: none;
}
