/*  ========================================================================
    # Main SCSS
    ========================================================================  */

// Charset
@charset 'UTF-8';

// Settings - Variables for fonts, colors, breakpoints, etc.
// =============================================================================

@import '01-settings/settings.fonts';
@import '01-settings/settings.colors';
@import '01-settings/settings.layout';
@import '01-settings/settings.easings';

// Tools - Functions, Mixins and Keyframes.
// =============================================================================

// Functions
@import '02-tools/tools.function.remove-unit';
@import '02-tools/tools.function.calc-rem';

// Mixins
@import '02-tools/tools.mixin.breakpoints';
@import '02-tools/tools.mixin.fluid-type';
@import '02-tools/tools.mixin.transitions';

// Globals - Styles for resetting, elements and the grid.
// =============================================================================

@import '03-globals/globals.resets';
@import '03-globals/globals.generic';

// Components
// =============================================================================

@import '04-components/components.wrapper';
@import '04-components/components.countdown';
@import '04-components/components.links';
